body {
    background-color: orange;
    border-collapse: collapse;
    padding-left: 50px;
    padding-right: 50px;
}
table {
    width: 50%;
}
td {
    padding: 30px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.letter {
    padding: 10px;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}